<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.deanishe.alfred.gcal</string>
	<key>connections</key>
	<dict>
		<key>0553156D-6606-42C4-8BE8-18AE49A7A6D6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>303E565E-8048-4ED5-BD89-7E58DF94BF3A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>09A5FA54-F59A-45B7-8B66-A08BC6AB8EAC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD8F2AB1-13E0-47E1-BFCA-701444818091</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>0D457EF4-A96F-4760-A4DC-07F46AE409C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8C1ADFA7-4A9A-4218-9125-F0D4C2763FEC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>14C00640-8D74-4090-AB64-5BDEA4489D4D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD8F2AB1-13E0-47E1-BFCA-701444818091</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>210C7111-B8FD-448C-A3F7-E3498E68D65B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CC4D4EE8-FD80-4612-948E-378FB259148C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>29048BAE-27AC-42F1-B5B2-096753EDC2BF</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0D457EF4-A96F-4760-A4DC-07F46AE409C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2BCC750A-E35C-4EC6-8176-A0B302ECD417</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>05634575-6FA7-40A9-8772-47F71A9C0DFC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2F7191FB-FE4C-4B0F-832C-A9BA3DE8F841</key>
		<array/>
		<key>303E565E-8048-4ED5-BD89-7E58DF94BF3A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9FA29DC3-2E67-45B6-B93B-F33F57EDF7E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F5C23C7D-94BA-400C-8004-EC304CE8818D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>30D50965-B9A7-4A5A-B69B-382D1FC7CA33</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE9B2118-827D-416D-9829-1A9DC2CAACA4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>35996F87-80D8-414C-BFC0-8713D145E02F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2512097E-AB92-489E-93AF-0146592CB0D4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>38618982-EFBD-4CEE-AB65-D33F0BBD3C54</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63875CCD-EE31-4820-9FA8-D2058415B876</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>5C211D72-B49C-4E67-BB21-5AA6934F0DCB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>30D50965-B9A7-4A5A-B69B-382D1FC7CA33</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>2BCC750A-E35C-4EC6-8176-A0B302ECD417</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>29048BAE-27AC-42F1-B5B2-096753EDC2BF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>210C7111-B8FD-448C-A3F7-E3498E68D65B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3F938397-2CD9-45EB-B0CD-FC962DC9031F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EAF06D56-D2F1-4FB9-B0D7-89D494AA865B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>55D10CF4-8457-4AE5-9DC0-64A7E262D61D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>35996F87-80D8-414C-BFC0-8713D145E02F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>5C211D72-B49C-4E67-BB21-5AA6934F0DCB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0553156D-6606-42C4-8BE8-18AE49A7A6D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>62F44B78-0D8E-4215-BB14-E3950B214795</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>303E565E-8048-4ED5-BD89-7E58DF94BF3A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>63875CCD-EE31-4820-9FA8-D2058415B876</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>62F44B78-0D8E-4215-BB14-E3950B214795</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>65A55A9B-1414-464D-A0FB-9A2CF705164C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E77CCBEC-A3BA-4614-B1B0-12B880D25580</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>6CFB2AE8-7BAF-4DE6-B949-D0FF2DB50FD7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD8F2AB1-13E0-47E1-BFCA-701444818091</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>78516575-8825-4598-A589-2F3475E25DF8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6CFB2AE8-7BAF-4DE6-B949-D0FF2DB50FD7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>7A027517-A35E-4028-89FF-50172EA74768</key>
		<array/>
		<key>7EB61C22-CD91-47F4-902C-623543484613</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6EE9D14F-1529-44ED-B4E7-CCB061EF7C47</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8604FB3C-23FB-467B-803B-17F6A73073AB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>55D10CF4-8457-4AE5-9DC0-64A7E262D61D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8C1ADFA7-4A9A-4218-9125-F0D4C2763FEC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>969420B1-18E8-4F0B-AC39-06D038718311</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>8EBC4884-E01F-4999-8A4A-F5D50F75396A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3F938397-2CD9-45EB-B0CD-FC962DC9031F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>983048BF-738E-4CAD-954B-C3788BD1D2B1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7EB61C22-CD91-47F4-902C-623543484613</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>998D04E2-9538-4970-9233-1E57F0929ED0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF14B152-A9EC-4FCE-97DA-F62C1C7846D3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>BC6819C2-77D8-4E53-BA51-2787F2087BFD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>14C00640-8D74-4090-AB64-5BDEA4489D4D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>BF14B152-A9EC-4FCE-97DA-F62C1C7846D3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7A027517-A35E-4028-89FF-50172EA74768</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CC4D4EE8-FD80-4612-948E-378FB259148C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2F7191FB-FE4C-4B0F-832C-A9BA3DE8F841</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD8F2AB1-13E0-47E1-BFCA-701444818091</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BF14B152-A9EC-4FCE-97DA-F62C1C7846D3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D55FAAFD-ABA8-4B37-940B-CB883E3BB590</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>38618982-EFBD-4CEE-AB65-D33F0BBD3C54</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E77CCBEC-A3BA-4614-B1B0-12B880D25580</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD8F2AB1-13E0-47E1-BFCA-701444818091</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FE9B2118-827D-416D-9829-1A9DC2CAACA4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F5C23C7D-94BA-400C-8004-EC304CE8818D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>6CEAE7ED-F6DF-403F-988D-4E847AF569B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dean Jackson &lt;deanishe@deanishe.net&gt;</string>
	<key>description</key>
	<string>View upcoming events in Google Calendar</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Google Calendar View</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>gcal</string>
				<key>subtext</key>
				<string>Show upcoming events</string>
				<key>text</key>
				<string>Upcoming Events</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>998D04E2-9538-4970-9233-1E57F0929ED0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>today</string>
				<key>subtext</key>
				<string>Today's events from your Google Calendar(s)</string>
				<key>text</key>
				<string>Today's Events</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>BC6819C2-77D8-4E53-BA51-2787F2087BFD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>date '+%Y-%m-%d'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>14C00640-8D74-4090-AB64-5BDEA4489D4D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>tomorrow</string>
				<key>subtext</key>
				<string>Tomorrow's events from your Google Calendar(s)</string>
				<key>text</key>
				<string>Tomorrow's Events</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>65A55A9B-1414-464D-A0FB-9A2CF705164C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>date -v '+1d' '+%Y-%m-%d'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E77CCBEC-A3BA-4614-B1B0-12B880D25580</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>action</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>7A027517-A35E-4028-89FF-50172EA74768</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>action</key>
					<string>date</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>BF14B152-A9EC-4FCE-97DA-F62C1C7846D3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>CD8F2AB1-13E0-47E1-BFCA-701444818091</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>yesterday</string>
				<key>subtext</key>
				<string>Yesterday's events from your Google Calendar(s)</string>
				<key>text</key>
				<string>Yesterday's Events</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>78516575-8825-4598-A589-2F3475E25DF8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>date -v '-1d' '+%Y-%m-%d'</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6CFB2AE8-7BAF-4DE6-B949-D0FF2DB50FD7</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>gdate</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading…</string>
				<key>script</key>
				<string>./gcal dates -- "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Enter a date</string>
				<key>title</key>
				<string>Events for a Specific Date</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>09A5FA54-F59A-45B7-8B66-A08BC6AB8EAC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>action</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>EAF06D56-D2F1-4FB9-B0D7-89D494AA865B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>config</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>8EBC4884-E01F-4999-8A4A-F5D50F75396A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>gcalconf</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading…</string>
				<key>script</key>
				<string>./gcal config "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>View and edit workflow settings</string>
				<key>title</key>
				<string>Google Calendar Config</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>3F938397-2CD9-45EB-B0CD-FC962DC9031F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>calendars</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>2512097E-AB92-489E-93AF-0146592CB0D4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./gcal toggle "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>35996F87-80D8-414C-BFC0-8713D145E02F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./gcal calendars "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>55D10CF4-8457-4AE5-9DC0-64A7E262D61D</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>calendars</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>8604FB3C-23FB-467B-803B-17F6A73073AB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>config</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>9FA29DC3-2E67-45B6-B93B-F33F57EDF7E7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./gcal clear</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>62F44B78-0D8E-4215-BB14-E3950B214795</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>clear</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>63875CCD-EE31-4820-9FA8-D2058415B876</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.junction</string>
			<key>uid</key>
			<string>303E565E-8048-4ED5-BD89-7E58DF94BF3A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./gcal update workflow</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0553156D-6606-42C4-8BE8-18AE49A7A6D6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>ERROR</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>F5C23C7D-94BA-400C-8004-EC304CE8818D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>update</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>5C211D72-B49C-4E67-BB21-5AA6934F0DCB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>test -n "$CALENDAR_APP" &amp;&amp; {
  ./gcal open --app="$CALENDAR_APP" "$1"
} || {
  ./gcal open "$1"
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>FE9B2118-827D-416D-9829-1A9DC2CAACA4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>action</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>D55FAAFD-ABA8-4B37-940B-CB883E3BB590</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>.
/---- ACTION IN ----\
query={query}
variables={allvars}
\-------------------/</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>38618982-EFBD-4CEE-AB65-D33F0BBD3C54</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>open</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>30D50965-B9A7-4A5A-B69B-382D1FC7CA33</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>6CEAE7ED-F6DF-403F-988D-4E847AF569B3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>calendars</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>05634575-6FA7-40A9-8772-47F71A9C0DFC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>calendars</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>2BCC750A-E35C-4EC6-8176-A0B302ECD417</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>action</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>969420B1-18E8-4F0B-AC39-06D038718311</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>test -n "$date" &amp;&amp; {
  ./gcal events --date="$date" -- "$1"
} || {
  ./gcal events -- "$1"
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>8C1ADFA7-4A9A-4218-9125-F0D4C2763FEC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>variables</key>
				<dict>
					<key>date</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0D457EF4-A96F-4760-A4DC-07F46AE409C6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>date</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>29048BAE-27AC-42F1-B5B2-096753EDC2BF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>config</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>2F7191FB-FE4C-4B0F-832C-A9BA3DE8F841</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./gcal set "$key" "$value"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>7EB61C22-CD91-47F4-902C-623543484613</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./gcal set "$key" "$value"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>CC4D4EE8-FD80-4612-948E-378FB259148C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>config</string>
				<key>passinputasargument</key>
				<false/>
				<key>passvariables</key>
				<false/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>6EE9D14F-1529-44ED-B4E7-CCB061EF7C47</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>set</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>210C7111-B8FD-448C-A3F7-E3498E68D65B</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:action}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>set</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>983048BF-738E-4CAD-954B-C3788BD1D2B1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Google Calendar
===============

View events from your Google calendars.

Configuration
-------------

`APPLE_MAPS`: Set to "1" to open location URLs in Apple Maps, not Google Maps.

`CALENDAR_APP`: Set to an application name to open calendar URLs (not map URLs) in an application other than your default browser (e.g. a session-specific browser).

`EVENT_CACHE_MINUTES`: How many minutes to cache events for.

`SCHEDULE_DAYS`: How many days' events to show in the "Upcoming Events" list (keyword: "gcal").</string>
	<key>uidata</key>
	<dict>
		<key>0553156D-6606-42C4-8BE8-18AE49A7A6D6</key>
		<dict>
			<key>note</key>
			<string>Check for new version of the workflow</string>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>1310</integer>
		</dict>
		<key>05634575-6FA7-40A9-8772-47F71A9C0DFC</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>1640</integer>
		</dict>
		<key>09A5FA54-F59A-45B7-8B66-A08BC6AB8EAC</key>
		<dict>
			<key>note</key>
			<string>Show events for a given date</string>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>660</integer>
		</dict>
		<key>0D457EF4-A96F-4760-A4DC-07F46AE409C6</key>
		<dict>
			<key>note</key>
			<string>Set $date from {query}</string>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>1810</integer>
		</dict>
		<key>14C00640-8D74-4090-AB64-5BDEA4489D4D</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>210C7111-B8FD-448C-A3F7-E3498E68D65B</key>
		<dict>
			<key>note</key>
			<string>$action = set</string>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>1970</integer>
		</dict>
		<key>2512097E-AB92-489E-93AF-0146592CB0D4</key>
		<dict>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>1010</integer>
		</dict>
		<key>29048BAE-27AC-42F1-B5B2-096753EDC2BF</key>
		<dict>
			<key>note</key>
			<string>$action = date</string>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>1810</integer>
		</dict>
		<key>2BCC750A-E35C-4EC6-8176-A0B302ECD417</key>
		<dict>
			<key>note</key>
			<string>$action = calendars</string>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>1670</integer>
		</dict>
		<key>2F7191FB-FE4C-4B0F-832C-A9BA3DE8F841</key>
		<dict>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>1940</integer>
		</dict>
		<key>303E565E-8048-4ED5-BD89-7E58DF94BF3A</key>
		<dict>
			<key>xpos</key>
			<integer>780</integer>
			<key>ypos</key>
			<integer>1260</integer>
		</dict>
		<key>30D50965-B9A7-4A5A-B69B-382D1FC7CA33</key>
		<dict>
			<key>note</key>
			<string>$action = open</string>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>1510</integer>
		</dict>
		<key>35996F87-80D8-414C-BFC0-8713D145E02F</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>1010</integer>
		</dict>
		<key>38618982-EFBD-4CEE-AB65-D33F0BBD3C54</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>1510</integer>
		</dict>
		<key>3F938397-2CD9-45EB-B0CD-FC962DC9031F</key>
		<dict>
			<key>note</key>
			<string>Show workflow configuration</string>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>830</integer>
		</dict>
		<key>55D10CF4-8457-4AE5-9DC0-64A7E262D61D</key>
		<dict>
			<key>note</key>
			<string>Toggle calendars on/off</string>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>1010</integer>
		</dict>
		<key>5C211D72-B49C-4E67-BB21-5AA6934F0DCB</key>
		<dict>
			<key>note</key>
			<string>$action = update</string>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>1340</integer>
		</dict>
		<key>62F44B78-0D8E-4215-BB14-E3950B214795</key>
		<dict>
			<key>note</key>
			<string>Clear old cache files</string>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>1150</integer>
		</dict>
		<key>63875CCD-EE31-4820-9FA8-D2058415B876</key>
		<dict>
			<key>note</key>
			<string>$action = clear</string>
			<key>xpos</key>
			<integer>430</integer>
			<key>ypos</key>
			<integer>1180</integer>
		</dict>
		<key>65A55A9B-1414-464D-A0FB-9A2CF705164C</key>
		<dict>
			<key>note</key>
			<string>Show tomorrow's events</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>6CEAE7ED-F6DF-403F-988D-4E847AF569B3</key>
		<dict>
			<key>xpos</key>
			<integer>780</integer>
			<key>ypos</key>
			<integer>1510</integer>
		</dict>
		<key>6CFB2AE8-7BAF-4DE6-B949-D0FF2DB50FD7</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>6EE9D14F-1529-44ED-B4E7-CCB061EF7C47</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>1940</integer>
		</dict>
		<key>78516575-8825-4598-A589-2F3475E25DF8</key>
		<dict>
			<key>note</key>
			<string>Show yesterday's events</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>7A027517-A35E-4028-89FF-50172EA74768</key>
		<dict>
			<key>xpos</key>
			<integer>760</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>7EB61C22-CD91-47F4-902C-623543484613</key>
		<dict>
			<key>note</key>
			<string>Change configuration</string>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>1940</integer>
		</dict>
		<key>8604FB3C-23FB-467B-803B-17F6A73073AB</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>1010</integer>
		</dict>
		<key>8C1ADFA7-4A9A-4218-9125-F0D4C2763FEC</key>
		<dict>
			<key>note</key>
			<string>Show events</string>
			<key>xpos</key>
			<integer>740</integer>
			<key>ypos</key>
			<integer>1780</integer>
		</dict>
		<key>8EBC4884-E01F-4999-8A4A-F5D50F75396A</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>830</integer>
		</dict>
		<key>969420B1-18E8-4F0B-AC39-06D038718311</key>
		<dict>
			<key>xpos</key>
			<integer>920</integer>
			<key>ypos</key>
			<integer>1780</integer>
		</dict>
		<key>983048BF-738E-4CAD-954B-C3788BD1D2B1</key>
		<dict>
			<key>note</key>
			<string>$action = set</string>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>1970</integer>
		</dict>
		<key>998D04E2-9538-4970-9233-1E57F0929ED0</key>
		<dict>
			<key>note</key>
			<string>Show upcoming events</string>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>9FA29DC3-2E67-45B6-B93B-F33F57EDF7E7</key>
		<dict>
			<key>xpos</key>
			<integer>920</integer>
			<key>ypos</key>
			<integer>1150</integer>
		</dict>
		<key>BC6819C2-77D8-4E53-BA51-2787F2087BFD</key>
		<dict>
			<key>note</key>
			<string>Show today's events</string>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>200</integer>
		</dict>
		<key>BF14B152-A9EC-4FCE-97DA-F62C1C7846D3</key>
		<dict>
			<key>note</key>
			<string>Set $action to "date"</string>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>CC4D4EE8-FD80-4612-948E-378FB259148C</key>
		<dict>
			<key>note</key>
			<string>Change configuration</string>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>1940</integer>
		</dict>
		<key>CD8F2AB1-13E0-47E1-BFCA-701444818091</key>
		<dict>
			<key>note</key>
			<string>Trim whitespace</string>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>390</integer>
		</dict>
		<key>D55FAAFD-ABA8-4B37-940B-CB883E3BB590</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>1480</integer>
		</dict>
		<key>E77CCBEC-A3BA-4614-B1B0-12B880D25580</key>
		<dict>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>360</integer>
		</dict>
		<key>EAF06D56-D2F1-4FB9-B0D7-89D494AA865B</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>830</integer>
		</dict>
		<key>F5C23C7D-94BA-400C-8004-EC304CE8818D</key>
		<dict>
			<key>xpos</key>
			<integer>920</integer>
			<key>ypos</key>
			<integer>1310</integer>
		</dict>
		<key>FE9B2118-827D-416D-9829-1A9DC2CAACA4</key>
		<dict>
			<key>note</key>
			<string>Open calendar URL</string>
			<key>xpos</key>
			<integer>560</integer>
			<key>ypos</key>
			<integer>1480</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>APPLE_MAPS</key>
		<string>0</string>
		<key>CALENDAR_APP</key>
		<string></string>
		<key>EVENT_CACHE_MINS</key>
		<string>15</string>
		<key>SCHEDULE_DAYS</key>
		<string>5</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.2.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
